<div class="wrap">
    <calendar-monthly today="$ctrl.today" search="$ctrl.search"></calendar-monthly>
    <calendar-daily today="$ctrl.today"></calendar-daily>
    <div class="searching">
        <label class="filter" for="search">Filter people:<input id="search" type="text" ng-model="$ctrl.search.people"> </label> <br>
        <span>Filter category: {{$ctrl.search.category.name}}</span>
        <div class="searching-icons">
        <i class="icon fa fa-eye" ng-click="$ctrl.search.category.name=''"></i>
        <i class=" icon {{option.icon}}" ng-repeat="option in $ctrl.options" ng-click="$ctrl.search.category.name=option.name"></i>
        </div>
        <br><br>
        <a href="#!authors">Authors</a>
        <a href="#!help">Help</a>

        <div class="ng-view"></div>
        
    </div>
</div>




