<label class="filter" for="search">Filtruj osoby: <input id="search" type="text" ng-model="search"> </label>
<div class="container">
<div class="calendar">
    <header>
        <div class="header-container">
            <i ng-click="$ctrl.previous()" class="fa fa-arrow-circle-left"></i>
            <span>{{$ctrl.month.format("MMMM, YYYY")}}</span>
            <i ng-click="$ctrl.next()" class="fa fa-arrow-circle-right"></i>
        </div>
    </header>
    <div class="week">
        <span class="day day-header">Sunday</span>
        <span class="day day-header">Monday</span>
        <span class="day day-header">Thuesday</span>
        <span class="day day-header">Wednesday</span>
        <span class="day day-header">Thursday</span>
        <span class="day day-header">Friday</span>
        <span class="day day-header">Saturday</span>
    </div>
    <div class="week" ng-repeat="week in $ctrl.weeks">
        <div class="day" ng-repeat="day in week.days">
            <span>{{day.number}}</span>
            <br>
            <ul ng-click="$ctrl.todayIs(day)" class="tasks" ng-if="day.tasks.length > 0">
                <li ng-repeat="task in day.tasks | filter:  search">
                    <i ng-click="$ctrl.getTask(task)"  data-toggle="modal" data-target="#exampleModal2"
                       class="fa fa-pencil-alt"></i>
                    <i class="fa fa-trash-alt" ng-click="$ctrl.deleteTask(task, day)"></i><br>
                    <span>{{task.name}}</span><br>
                    <hr ng-if="day.tasks.lenght > 1">
                </li>
            </ul>
            <div class="icons-day">
                <!-- <i class="fa fa-pencil-alt" ng-if="day.tasks.length > 0"></i> -->
                <!-- <i class="fa fa-trash-alt" ng-if="day.tasks.length > 0"></i> -->
                <i class="fas fa-list-ul" ng-click="$ctrl.todayIs(day)"></i>
                <i ng-click="$ctrl.getDay(day)"  data-toggle="modal" data-target="#Modal" class="fa fa-plus-square"></i>
                <i class="fa fa-lock" ng-click="$ctrl.getDay2(day)"></i>
            </div>
        </div>
    </div>
</div>
<div class="daily-calendar">
    <ul>
        <li class="hour" ng-repeat="hour in $ctrl.today.hours">
            {{hour.name}}
            <ul>
                <li ng-repeat="task in $ctrl.today.tasks">
                    <div ng-if="task.begTime.format('D MM YY kk')==hour.date.format('D MM YY kk')">
                        <span class="hour-task">{{task.name}}</span>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
</div>






<!-- Adding tasks -->

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="addForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New task!</h5>
                </div>
                <div class="modal-body">
                    <label for="name">Task: </label>
                    <input id="name" type="text" placeholder="Task description..." ng-model="$ctrl.task.name" required>
                    <br>
                    <label for="people">People: </label>
                    <input id="people" type="text" placeholder="Add peope..." ng-model="$ctrl.task.people"><br>
                    <label for="category">Category</label>
                    <select name="repeatSelect" id="repeatSelect" ng-model="$ctrl.task.category">
                        <option ng-repeat="option in $ctrl.options" ng-init="option">{{option}}</option>
                    </select><br>
                    <label for="begDate">Beginning time: </label>
                    <!-- <input id="begDate" type="date" ng-model="$ctrl.task.begDate"> -->
                    <input id="begTime" type="time" ng-model="$ctrl.task.begTime"><br>
                    <label id="endDate">End time: </label>
                    <!-- <input id="endDate" type="date" ng-model="$ctrl.task.endDate"> -->
                    <input id="endTime" type="time" ng-model="$ctrl.task.endTime">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Go back!</button>
                    <button ng-click="$ctrl.addTask($ctrl.task)" type="button" class="btn btn-primary"
                            data-dismiss="modal">Add task</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Editing tasks -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit task!</h5>
            </div>
            <div class="modal-body">
                <label for="name">Task: </label>
                <input id="name" placeholder="Task description..." ng-model="$ctrl.task.name"> <br>
                <label for="people">People: </label>
                <input id="people" type="" placeholder="Add peope..." ng-model="$ctrl.task.people"><br>
                <label for="category">Category</label>
                <select name="repeatSelect" id="repeatSelect" ng-model="$ctrl.task.category">
                    <option ng-repeat="option in $ctrl.options" value="{{option}}" ng-if="$ctrl.task.category != option">{{option}}</option>
                    <option ng-repeat="option in $ctrl.options" value="{{option}}" ng-if="$ctrl.task.category == option" selected="selected">{{option}}</option>
                </select><br>
                <label for="begDate">Beginning time: </label>
                <!-- <input id="begDate" type="date" ng-model="$ctrl.task.begDate"> -->
                <input id="bedTime" type="time" ng-model="$ctrl.task.begTime"><br>
                <label id="endDate">End time: </label>
                <!-- <input id="endDate" type="date" ng-model="$ctrl.task.endDate"> -->
                <input id="endTime" type="time" ng-model="$ctrl.task.endTime">
            </div>
            <div class="modal-footer">
                <button ng-click="$ctrl.editTask($ctrl.task)" type="button" class="btn btn-primary" data-dismiss="modal">Edit task</button>
            </div>
        </div>
    </div>
</div>